{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
    The closer will be your guess about how much others think a person should keep for him/herself the higher will be your earnings.
    </p>
    <p>If your guess will be exactly the same as an average amount the other participants believe a person should keep, you will earn 20 points.</p>
    <p>Every point of different will decrease your payoff by 1 point.</p>
    <p>If the difference betweeen is more than 20 tokens you will receive nothing from this stage. </p>
</div>
