{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant 1 and the other
        Participant 2.
    </p>
    <p>
        There are {{ Constants.endowment }} to split. Participant 1 will
        decide how many points she or he will retain. The rest will go to
        Participant 2.
    </p>
    <p>
      You will take the decision as a Participant 1. Then the decision of only one of two participants will be taken as final.
    </p>
</div>
