{% extends "global/Base.html" %} {% load otree_tags %}
{% load staticfiles %}
{% block styles %}

<style>
.myimg{
height:200px;
overflow:hidden;
border-color:#DADADA;
border-style:solid;
border-width:0;
margin-bottom:20px;
}
.myimg  img {
    display : block;
    margin : auto;

}
.alert{margin:0;padding:0;}
@media only screen and (max-device-width: 480px) {

img  { display:block; margin: 0 auto;
margin-left:auto;;
width:100%;
heigth:auto;
}
}
</style>

{% endblock %}
{% block title %}

Introduction
{% endblock %}

{% block content %}<p>In this task, you will be randomly paired with two other study participants. You will be either the
“sender” or the “receiver”. If you are randomly assigned to be the sender, you may send some money
to another receiver B. If you are randomly assigned to be the receiver, you may receive money from
yet another participant from this survey, whom we call sender A.</p>



      <div class="myimg" >
          <img height="200px" src="{% static "dictatorMU/0.jpg" %}"/>
      </div>
<p></p>
  <p>Should you be randomly assigned to the role of the sender, your choices from the allocation task will
    be implemented. In case you are the receiver, you will receive the points sent from yet another sender.
    If this task is randomly chosen for payment, all choices of this task will be paid out.</p>
<p>  In this task, the sender is endowed with {{Constants.endowment}} points and can give any amount to an anonymous
  receiver.</p>

<p>  The first set of questions asks what you regard as morally appropriate, what you expect morally from
  others, and what you believe others morally expect from you. Then we ask you to distribute {{Constants.endowment}} points
  between yourself and the anonymous receiver. In the last set of questions, we are interested in your
  expectations how others actually decide and in your beliefs about what others expect how you actually
  decide. In addition to the points earned by the monetary allocations, you receive points for good
  guesses of the other person’s answers.</p>


{% next_button %}
{% endblock %}
