{% extends "global/Base.html" %} {% load otree_tags %}
{% load staticfiles %}
{% block styles %}

    <link href="{% static "dictatorMU/css/style.css" %}" rel="stylesheet">

{% endblock %}
{% block title %}

{{title}} 

{% endblock %}

{% block content %}
{% for field in form %}
    <div class="pics">
      <div class="artiststhumbnail {% if field.field.active1 %}active{% endif %}" >
          <img height="100px" src="{% static "dictatorMU/1.png" %}"/>
      </div>

      <div class="artiststhumbnail {% if field.field.active2%}active{% endif %}">
          <img height="100px" src="{% static "dictatorMU/2.png" %}"/>
      </div>
    </div>
<p></p>
    {{field.label|safe}}

      {{field}}
{% endfor %}
<p></p><p></p>
{% next_button %}
{% endblock %}
