{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>

    <p>
        Чем ближе будут ваши предположения о том, сколько другие оставят себе, тем больше вы заработаете.
    </p>
    <p>
        Если ваше предположение будет точно таким же, как средняя сумма, которую другие участники оставили себе, вы
        получите 20 очков.
    </p>
    <p>
        Каждое другое очко уменьшит вашу выплату на 1 очко.
    </p>
    <p>
        Если разница между реальной средней суммой, хранящейся у других, и вашим предположением составляет более 20
        токенов, вы ничего не получите на этом этапе.
    </p>
</div>
