{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>

    <p>
        Вы будете случайно и анонимно сопряжены с другим участником.
        В этом исследовании один из вас будет Участником 1, а другой Участником 2.
    </p>
    <p>
        Есть {{ Constants.endowment }}, которые нужно разделить. Участник 1 будет
        решите, сколько очков он или она сохранят. Остальные пойдут в
        Участник 2.
    </p>
    <p>
        Вы примете решение как Участник 1. Тогда решение только одного из двух участников будет считаться окончательным.
    </p>
</div>
