{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        The closer your assumptions about how much others will keep for themselves, the more you will earn.
    </p>
    <p>
        If your guess is exactly the same as the average amount that other participants have left for themselves, you will
        get 20 points.
    </p>
    <p>
        Every other point will reduce your payout by 1 point.
    </p>
    <p>
        If the difference between the real average amount stored by others and your assumption is more than 20
        tokens, you will not get anything at this stage.
    </p>
</div>
