{% extends "global/Page.html" %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>

{% endblock %}
{% block title %}

    Welcome!
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">


            <p>
                You will be randomly paired with other participants in the study.
                You will be randomly assigned the role of either <b>Sender</b>
                or <b>Receiver</b>. If you are randomly assigned as Sender, you can
                send money to the Recipient.
               If you are randomly assigned as Receiver, you can get money, which Sender will send to you.

            </p>


            <div class="myimg">
                <img height="200px" src="{% static "dg/0.jpg" %}"/>
            </div>


            In this task, Sender receives {{ Constants.endowment }} points and can transfer any amount from 0
            to {{ Constants.endowment }} Receiver.

            </p>


        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>
{% endblock %}
