{% extends 'pggfg/includes/instructions_base.html' %}
{% block content %}
    <div>
        В этой части исследования вы можете видеть решения о вкладах в общий проект, которые приняли другие участники
        вашей группы в предыдущей части.
    </div>
    <div>
        Вы можете послать каждому из них от 0 до <strong>{{ player.punishment_endowment }} </strong> штрафных токенов
    </div>
    <div>
        Общая сумма посланных вами штрафных токенов не должна превышать
        <strong>{{ player.punishment_endowment }} </strong>.
    </div>
    <div>
        Каждый посланный вами штрафной токен уменьшает их доход на <b>{{ Constants.punishment_factor }} токена</b>.
    </div>
    <div>
        Они в свою очередь могут принять такое же решение по отношению к вам и другим участникам.
    </div>


{% endblock %}
