<div id="results-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script src="//code.highcharts.com/highcharts.js"></script>

<script>
    $(function () {
        Highcharts.chart('results-container', {
            title: {
                text: 'Средний вклад'
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '{y: .2f} токенов'
                    },
                    marker: {
                        radius: 8,
                        symbol: 'circle'
                    }
                }
            },
            credits: {enabled: false},
            xAxis: {
                categories: {{ subsession.round_numbers|json }},
                title: {text: 'период'}
            },
            yAxis: {
                title: {text: 'Размер вклада'}
            },

            series: {{ highcharts_series|json }}
        });
    });
</script>