{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}



{% block styles %}

  <style type="text/css">
  td {
    text-align: center;
    vertical-align: middle;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  tr {
    text-align: center;
    vertical-align: middle;
  }
  .form-control {display:inline!important;}
  </style>
{% endblock %}

{% block title %}
    Detection
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
  //   var a =1;
  //
  //     $(function () {
  //     var contribsTLC = {{tlcs}};
  //     jQuery.each( contribsTLC, function( i, val ) {
  // console.log( "Mine is " + val + "." );})
  //       });

  </script>
{% endblock %}
{% block content %}

    {% include Constants.instructions_template %}
  <table class="table table-striped">
    <tr>
        <th>Participant</th><th>Contribution</th><th>Punish</th>
    {% for ab in abclist %}
    <tr>
        <td>
            {{ ab.2 }}

        </td><td >{{ ab.1}}</td>
  </td>
        <td><input autofocus="autofocus" class="form-control " id="id_{{ab.0.name}}" max="100.00" min="0" name="{{ab.0.name}}" required="required" type="number"></td>

    </tr>
    {% endfor %}

</table>




    {% next_button %}

{% endblock %}
