{% extends "global/Page.html" %}

{% block title %}
    Решение о штрафах (Период {{ subsession.round_number }}/{{ Constants.num_rounds }})
{% endblock %}

{% block content %}
 {% include 'pggfg/includes/instructions_second.html' %}



    {% if form.non_form_errors %}
        {% for error in form.non_form_errors %}
            <div class="alert alert-danger mt-3">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <table class="table table-hover table-striped table-responsive">
        {{ form.management_form }}
        <thead>
        <tr>
            <th>Участник:</th>
            <th>Вклад</th>
            <th>Размер штрафа</th>
            <th>Их доход уменьшится на:</th>
        </tr>
        </thead>

        {% for f in form.forms %}
            <tr>
                <td class="text-nowrap">Участник {{ forloop.counter }}</td>
                <td class="text-center">{{ f.instance.receiver.contribution }}</td>
                <td>{% formfield f.amount label='' %}</td>
                {% for hidden in f.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <td id="{{ f.amount.id_for_label }}"></td>
            </tr>

        {% endfor %}
    </table>

    {% next_button %}


{% endblock %}
{% block styles %}
    <style>
        .table {
            display: table !important
        }
        .form-group{
            margin-bottom: 0px;
        }
    .table td{
        vertical-align: middle;
    }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        const min_val = 0;
        const max_val = {{ player.punishment_endowment|json }};
        const pun_factor = {{ Constants.punishment_factor|json }};
        $(function () {

            $('div.field-amount input').on('input', function () {
                var curvalue = $(this).val();
                if (curvalue < min_val) {
                    $(this).val(min_val);
                }
                ;
                if (curvalue > max_val) {
                    $(this).val(max_val);
                }
                var curvalue = $(this).val();
                var punishment_sent = curvalue * pun_factor;
                $('td#' + $(this).attr('id')).html(punishment_sent + " токенов");
            })
        });
    </script>
{% endblock %}