{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}



{% block styles %}

  <style type="text/css">
  td {
    text-align: center;
    vertical-align: middle;
  }
  th {
    text-align: center;
    vertical-align: middle;
  }
  tr {
    text-align: center;
    vertical-align: middle;
  }
  .form-control {display:inline!important;}
  </style>
{% endblock %}

{% block title %}
    Punishment stage
{% endblock %}
{% block scripts %}
  <script type="text/javascript">

 {% if Constants.punishment_factor %}
 {% for f in form %}
  $( "#id_{{f.name}}" ).on('keyup', function () {
  $( "#{{f.name}}_received" ).html(Math.round($(this).val()*{{Constants.punishment_factor}}));

  });
  {% endfor %}
  {% endif %}

  </script>
{% endblock %}
{% block content %}

    {% include Constants.instructions_template %}
  <table class="table table-striped">
    <tr>
        <th>Participant</th><th>Contribution</th><th>Punishment tokens sent</th><th>Their earnings reduced by</th></tr>
    {% for ab in abclist %}
    <tr>
        <td>
            {{ ab.2 }}

        </td><td >{{ ab.1}}</td>
  </td>
        <td><input autofocus="autofocus" class="form-control " id="id_{{ab.0.name}}" max="{{Constants.punishment_limit}}" min="0" name="{{ab.0.name}}" required="required" type="number"></td>
<td><div id="{{ab.0.name}}_received">

</div></td>
    </tr>
    {% endfor %}

</table>




    {% next_button %}

{% endblock %}
