{% extends 'otree/WaitPage.html' %}
{% load otree i18n %}
{% block internal_scripts %}
    {{ block.super }}

    <script type="text/javascript">
        function heartbeat() {
            var args = {
                type: "GET",
                url: '{% url "ParticipantRoomHeartbeat" view.tab_unique_id %}',
                // necessary for IE
                cache: false
            };
            $.ajax(args);
        }

        var SECOND = 1000;
        window.setInterval(heartbeat, 10 * SECOND);
    </script>

{% endblock %}

{% block body_main %}
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card my-3  footer">
                    <div class="card-body">
                        <div class="media d-flex justify-content-center align-items-center ">
                            <img src="{% static 'global/img/hse_logo.jpg' %}" class="align-self-center  " alt="hse_logo"
                                 style="width: 200px; height:auto;">
                            <div class="media-body  mx-auto text-center lead d-flex justify-content-center align-items-center h-100 ">
                                <p>{% trans 'Добро пожаловать на исследование ' %} <br>
                                    <a href="http://www.hse.ru">{% trans 'НИУ "Высшая Школа Экономики", Москва' %}</a>.

                                </p>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock %}

{% block styles %}
    <style type="text/css">
        .forpadding {
            padding: 10px;
        }

        img, .wrapper_rand {
            display: inline-block;
            word-wrap: break-word;
            vertical-align: middle;

        }

        .wrapper_rand {
            width: calc(100% - 300px);
            text-align: center;
        }

        img {
            width: 256px;
        }

        @media only screen and (max-device-width: 480px) {
            .wrapper_rand {
                display: inline;
            }

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
            }
        }
    </style>
{% endblock %}
